/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary{
    background-color:#285FF6 ;
    color: white;
    padding: 8px;
    font-size: .8rem;
}
.btn-secondary{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px;
}
.mgn-left{
    margin-left: 15px;
}
.height-colmain{
    max-height: 100%;
    height: 1000px;
}
.border-main{
    border: 1px solid lightgray;

}
/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    
    


    /* debug */
    /* background-color: green; */
    /* min-height: 100px; */
}

header li {
    list-style-type: none;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

/* LINK-LIST */
.link-list{
    width: 100%;
}

/* COLUMN-LEFT */
.col{
    font-size: .8rem;
    /* debug */
    /* background-color: red; */
    /* border: 1px solid black; */
    /* height: 50px; */
}


/* COLUMN-RIGHT */



/* MAIN */

/* HERO-SECTION */
.hero {
    background-color: #B9CFE5;
    padding-top: 5em;
   

    /* debug */
    /* max-height: 600px; */
    
}

/* HERO-BOX */
.hero-box {
    width: 1000px;

    /* debug */
    /* background-color: blueviolet; */
    /* min-height: 500px; */
}
.hero-box h1{
    font-size: 4rem;
    margin-bottom: .5em;
    
}

/* HERO-PARAGRAF */
.hero-paragrf{
    text-align: justify;
    margin-bottom: 80px;
}
.hero-paragrf a{
    text-decoration: none;
    display: inline-block;
}

.hero-paragrf ul{
    list-style-type: none;
    margin-top: 50px;
}
.hero-paragrf li{
    
    margin-top: 2em;
}
.arrow-down{
    margin-top: 2em;
}
.arrow-down i{
    font-size: 25px;
    
}
/* HERO-IMG */
.hero-img{
    margin-bottom: 60px;
}
.hero-img img{
    max-width: 100%;
    /* max-height: 100%; */
}

/* MAIN SECTION */

.main-section {
    width: 50%;
    margin-top: 8em;
    /* debug */
    /* min-height: 1000px; */
    /* border: 1px solid black; */
}

/* TITLE */
.title {
    width: 100%;
    padding: .5em;
    /* debug */
    /* background-color: darkgoldenrod; */
    /* height: 50px; */
    /* border: 1px solid black; */
}
/* INPUT-BOX */
.input-conteiner{
    padding: .5em;
    
}
.input-conteiner span{
    margin-right: 2em;
}
.input-conteiner input{
    cursor: pointer;
}

/* COLUMN-SECTION*/

.column-box {
    width: 33.33%;
    margin: .5em;
    /* debug */
    /* background-color: chocolate; */
    /* border: 1px solid lightgray; */
}
.column-box h3{
    margin-top: 20px;

}
.column-box h6{
    margin-top: 10px;
}
.column-box span{
    margin-top: 5px;
}
.column-box ul{
    padding: 20px;
    list-style: none;
    line-height: 15px;
}
.column-box li{
    margin-bottom: 30px;
}
.utenti{
    list-style-image: url(../img/user-solid.svg);
    font-size: 30px;
}
.folder{
    list-style-image: url(../img/folder-solid.svg);
    font-size: 30px;
}
.share{
    list-style-image: url(../img/share-nodes-solid.svg);
    font-size: 30px;
}
.font-size{
    font-size: 15px;
}
.btn-free-trial{
    position: relative;
    margin-top: 50px;
}
.free{
    width: 80%;
    min-height: 100%;
    position: absolute;
    right: 30px;
    bottom: 10px;
    text-align: center; 
    cursor: pointer;

    
}
.btn-primary a{
    text-decoration: none;
    color: white;  
    display: inline-block;
}
.buy{
    margin-left: 15px;
    padding: 10px;
    


}
.highlights{
    margin-left: 15px;
    margin-top: 30px;
}
.check{
    list-style-image: url(../img/check-solid.svg);
    font-size: 40px;
}



/* TIPOLOGIA ABBONAMENTO */

.abbonamento{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 2px;
    
}
.grey{
    color: #989795;
    font-size: .8rem;
}
/* RAW-SECTION */
.raw-box {
    width: 100%;
    margin: .5em;
    margin-bottom: 5em;
    /* debug */
    /* background-color: chocolate; */
    /* min-height: 100px; */
    /* border: 1px solid lightgray; */
}
.raw-box h3{
    margin-top: 20px;
}
.raw-box h6{
    margin-top: 10px;
    margin-bottom: 10px;
}
.raw-box span{
    font-size: .8rem;
}
.conteiner-raw{
    width: 70%;
    margin-left: 15px;
    margin-bottom: 15px;
}
.conteiner{
    width: 30%;
    position: relative;
    cursor: pointer;
}
.conteiner a{
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
    position: absolute;
    bottom: 5px;
    right: 20px;
    padding: 10px;
    


}

/* PARTNER-SECTION */

.big-box {
    width: 60%;
    /* debug */
    min-height: 300px;
    /* background-color: coral; */
    /* border: 1px solid black; */
}
.big-box img{
    width: 100%;
}

.small-box {
    width: 40%;
    padding: 40px;
    margin-bottom: 2em

    /* debug */
    /* min-height: 300px; */
    /* background-color: cornflowerblue; */
    /* border: 1px solid black; */
}

.small-box h3{
    margin-bottom: 5px;
}

.small-box p{
    margin-bottom: 20px;
    font-size: .8rem;
}
.btn-small-box{
    width: 150px;
    cursor: pointer;
}

.btn-small-box a{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* BUSINESS-COLUMN-SECTION */
.title-business {
    margin-top: 50px;
   margin-bottom: 5px;

}
.column-box img{
    width: 200px;
    text-align: center;    
}
.column-box p{
    margin-top: 20px;
    font-size: .8em;
}
/* BUSINESS-BOX */
.business{
    margin-top: 80px;
}
.business h2{
    margin-bottom: 40px;

}
.business a{
    color: #285FF6;
}
/* /MAIN */

/* SECOND-MAIN */

.box-conteiner {
    width: 50%;
    /* debug */
    min-height: 200px;
    background-color: aqua;
    border: 1px solid black;
}

.box-design {
    width: 50%;
    /* debug */
    min-height: 200px;
    background-color: fuchsia;
    border: 1px soldi black;
}

/* FREE-TRIAL-SECTION */
.free-section {
    background-color: #B9CFE5;
}


/* FAQ-SECTION */
.faq-box {
    width: 50%;
    /* debug */
    min-height: 500px;
    background-color: lightgreen;
    border: 1px solid black;

}

/* FOOTER */
footer {
    padding: .5em;
    background-color: black;
    color: white;
    /* debug */
    /* min-height: 500px; */
    border: 1px solid black;

}

footer a {
    text-decoration: none;
    color: white;
    font-size: .7rem;
}

footer ul {
    list-style-type: none;
}

.column {
    width: 10%;
    margin: 2em;
    margin-top: 2.5em;

    /* debug */
    min-height: 300px;
    /* background-color: coral; */
    border: 1px solid black;
}